{% extends 'base.html.twig' %}

{% block title %}Hello RequestIndexController!{% endblock %}

{% block body %}
{{ form_start(form) }}
{{ form_widget(form) }}
    <button>Envoyer</button>

{{ form_end(form) }}
{% for requ in requs %}
    {{ requ.method }}
{% endfor %}
{% endblock %}
